# Disney+ Movies and TV Shows #

You are working as Junior Data Analyst at Disney Plus. There is combined data on movies and TV shows. It is available in [Kaggle](https://www.kaggle.com/datasets/shivamb/disney-movies-and-tv-shows). 

The Content Manager wants you to clean the data and provide insights to answer some of the questions like:

1. Identify the unique list of ratings. How many movies and tv shows are listed under each rating?
2. What is the average duration of movies and tv shows?
3. How many movies and tv shows have been released till now in Germany. Give the list year-wise.
4. Which Director has directed the maximum number of movies and in which genre?

The task has been handed over to you by your team lead in the data department. They expect you to apply your Python knowledge on strings, descriptive statistics and want you to <span style="color:#fc5a37">build re-usable functions.</span>

Your analysis will help the Content Manager at Disney Plus to make a decision on the direction and future investments the company makes in movies as well as TV shows and will influence what gets released. 

Also, your manager wants to use the functions himself and he is not code savvy. For him to understand the functions and re-use them, <span style="color:#fc5a37">add DocStrings to your functions</span> mentioning what it does, expected inputs along with their default values and expected outputs.

There are expected outputs mentioned for few of the cells for you to confirm that you are on right track. 

You might have to refer to Python documentation.

## Data dictionary ##

1. show_id - Unique id
2. type - Movie or TV Show
3. title - Name of the movie/show
4. director - Directors of the movie/show
5. cast - Main cast of the movie/show
6. country - Country of production
7. date_Added - Date added on Disney+
8. release_year - Original Release Year of the movie/tv show
9. rating - Rating of the movie/show 
10. duration - Total duration of the movie/show

## Step 1: Read the file

In [6]:
# This code block is pre-coded for you. You don't have to write anything in this one.
from csv import reader #Package that reads the csv file.
opened_file = open('./Data/disney_plus_titles.csv', encoding="utf-8")
read_file = reader(opened_file)
data_list = list(read_file) # This stores the data in the list of lists format.

Extract the header (column names) which is first row in data_list in `data_header` and keep rest other rows (except header) in `data`. 

Hint: How would you access the first element of a list?

In [7]:
# Complete this code block
data_header = data_list[0]
data = data_list[1:]

In [8]:
# print the column names of given data.
print(data_header)

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

## Step 2: Create function `explore_data` to explore data ##

### Function description and output overview
The function `explore_data` should print the following:
1. Selected rows from start to end.
2. Number of rows and columns if chosen to do so.

The function will take following parameters as input
1. `my_data_local`
2. `start_row_local`
3. `end_row_local`
4. `rows_and_columns_local` a boolean to check if you want to display total number of rows and columns. 

For example, I want to display first five rows and also want to display total number of rows and columns in the input data. 

So I will call this function as `explore_data(data,0,5,True)`and the expected output is:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">

['s1', 'Movie - Animation', 'Duck the Halls: A Mickey Mouse Christmas Special', 'Alonso Ramirez Ramos, Dave Wasson', 'Chris Diamantopoulos, Tony Anselmo, Tress MacNeille, Bill Farmer, Russi Taylor, Corey Burton', '', 'November 26, 2021', '2016', 'TV-G', '23 min', 'Animation, Family', 'Join Mickey and the gang as they duck the halls!']


['s2', 'Movie-Comedy', 'Ernest Saves Christmas', 'John Cherry', 'Jim Varney, Noelle Parker, Douglas Seale', '', 'November 26, 2021', '1988', 'PG', '91 min', 'Comedy', 'Santa Claus passes his magic bag to a new St. Nic.']


['s3', 'Movie', 'Ice Age: A Mammoth Christmas', 'Karen Disher', 'Raymond Albert Romano, John Leguizamo, Denis Leary, Queen Latifah', 'United States', 'November 26, 2021', '2011', 'TV-G', '23 min', 'Animation, Comedy, Family', "Sid the Sloth is on Santa's naughty list."]


['s4', 'Movie', 'The Queen Family Singalong', 'Hamish Hamilton', 'Darren Criss, Adam Lambert, Derek Hough, Alexander Jean, Fall Out Boy, Jimmie Allen', '', 'November 26, 2021', '2021', 'TV-PG', '41 min', 'Musical', 'This is real life, not just fantasy!']


['s5', 'TV Show - Docuseries', 'The Beatles: Get Back', '', 'John Lennon, Paul McCartney, George Harrison, Ringo Starr', '', 'November 25, 2021', '2021', '', '1 Season', 'Docuseries, Historical, Music', 'A three-part documentary from Peter Jackson capturing a moment in music history with The Beatles.']


no. of rows: 1450

no. of columns: 12

### Pseudocode
Below is the Pseudocode for the function

def explore_data(Give the parameters along with default values):

  1. Slice the `my_data_local` using `start_row_local` and `end_row_local`. Remember data is a list.

  2. Write a for loop to print each element in sliced data and adding a new empty line after each row using print('\n').
        
  3. Write an `if statement` which checks for if user wants to display number of rows and columns. 
      - If yes, then print the number of rows using `len` function on data and number of columns using `len` function on the first element of data.

### Function definition

In [ ]:
# Update the function definition based on the Pseudocode above
def explore_data(my_local_data=data, start_row_local=1, end_row_local=5, rows_and_columns_local=True):
    my_data_sliced = my_local_data[(start_row_local):end_row_local]
    for element in my_data_sliced:
        print(element)
        print('\n')
    if rows_and_columns_local == True:
        print(f"no. of rows: {len(my_local_data)}")
        print('\n')
        print(f"no. of columns: {len(my_local_data[0])}")

### Calling function to explore data

Use `explore_data` function to display top 5 rows along with number of rows and columns.

In [ ]:
# To use the function type:
# explore_data(<enter data here>, <enter index of first row here>, <enter index of last row here>, <enter True or False here whether you want to display the no. of rows and columns or not>)
explore_data(data, 0, 5, True)

Again use the `explore_data` function to display the last 5 rows. 

Use negative indexing for the start_row. 

For the end_row, modify your function definition to display until the last row. 

This time you don't have to display the number of rows and columns. 

Make sure that the `title` in the last row is <span style="color:#fc5a37">'Captain Sparky vs. The Flying Saucers'.</span>

In [ ]:
explore_data(data, -5, None, False)

## Step 3: Separate Movies and TV Shows

### Description
Code a `for loop` to separate

1. Movies to `disney_movies`
2. TV Shows to `disney_shows`
3. also check if there are any other than movies and shows. 
    
So, if the `type` is `Movie - Animation` or `MOVIE-Comedy`, it should be in `disney_movies`.

There could be many other combinations. So, if the `type`starts with `movie`it should be in `disney_movies`

Similarly, for example, if the `type`is `TV Show - Docuseries` or `TV show - Season 1`, it should be in `disney_shows`. 

Rest other that do not start with `Movie`or `TV Show` should be classified as `disney_other`.

### Pseudocode

Write a for loop to go through each row in the `data`

- Convert the `type`to lower case. Because the `type`column is the second column, you will need to get the element at index 1 in each row. 
- Write an if else statement
  - If title starts with <span style="color:#fc5a37"> "movie" </span>
    - Update the `type`to just <span style="color:#fc5a37"> "Movie" </span>
    - Append it to `disney_movies`
  - Else, do the same with <span style="color:#fc5a37"> "tv" </span> and append to `disney_shows`
  - Anything else, should be appended to `disney_other`

### Write code below

In [26]:
disney_movies = []
disney_shows = []
disney_other = []

for title in data:
    type = title[1].lower()
    if type.startswith("movie"):
        type = "Movie"
        disney_movies.append(title)
    elif type.startswith("tv"):
        type = "TV"
        disney_shows.append(title)
    else:
        disney_other.append(title)

### Explore newly created datasets

Explore all your new datasets created using your earlier created function. 

How many Movies and TV Shows are listed? 

Are there any other than Movies and TV Shows?

Expected outputs:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">

Disney Movies:  1052

Disney TV Shows:  398

Disney Others:  0

In [27]:
# Movies
print(f"Disney Movies: {len(disney_movies)}")

Disney Movies: 1052

In [28]:
# TV Shows
print(f"Disney TV Shows: {len(disney_shows)}")

Disney TV Shows: 398

In [29]:
# Others
print(f"Disney Others: {len(disney_other)}")

Disney Others: 0

## Step 4: Get a list of unique values in a column ##

### Function description and output overview

The function `list_of_elements` should print:
  - The list of unique values in any required column

The function will take the following as parameters:
1. `my_data_local`
2. `col_index_local`

For example, I want to get unique values in `rating`column.
I will call this function and the output will be:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">
['TV-G', 'PG', 'TV-PG', '', 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y', 'TV-Y7-FV']

### Pseudocode
Below is the Pseudocode for the function

def list_of_elements(Give the parameters along with default values):

  1. Create an empty list and assign it to `result_list`

  2. Write a for loop to iterate over each row element in `my_data_local`
      - If element in the row at `col_index_local`is not in the `result_list`, append it.
      
  3. Return `result_list`

### Function definition

In [42]:
# To use the List of Elements:
# list_of_elements(<enter data here>, <enter the index of the column here>)
def list_of_elements(my_data_local=data, col_index_local=8):
    result_list = []
    for row in my_data_local:
        element = row[col_index_local]
        if element not in result_list:
            result_list.append(element)
    return result_list

### Calling function

What is the column index of `rating`column?

Use the above created function to generate the list of unique `rating` in the original dataset.

In [43]:
print(list_of_elements(data, 8))

['TV-G', 'PG', 'TV-PG', '', 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y', 'TV-Y7-FV']

## Step 5: For each corresponding unique value in a column get the number of movies and shows. ##

### Function description and output overview

The function `elements_count` should return:
  - The key value pair where
    - key is the unique element
    - value is the count of movies or TV shows or both with that unique element

The function will take the following as parameters:
1. `my_data_local`
2. `col_index_local`

For example, I want to get unique values and corresponding count in `ratings`column in `disney_movies`.
I will call this function on `disney_movies` and the output will be:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">
{'G': 253, 'PG': 235, 'TV-G': 233, 'TV-PG': 181, 'PG-13': 66, 'TV-14': 37, 'TV-Y7': 36, 'TV-Y7-FV': 7, 'TV-Y': 3, '': 1}

### Pseudocode
Below is the Pseudocode for the function

def elements_count(Give the parameters along with default values):

  1. Create an empty dictionary and assign it to `element_count_dict`

  2. Write a for loop to iterate over each row element in `my_data_local`
      - If element in the row at `col_index_local`is not in the key of `element_count_dict`, add it and initialize the value to 1.
      - If element in the row at `col_index_local`is in the `element_count_dict`, increment the value by 1.

  3. Sort the dictionary based on the corresponding values in descending order. 
      
  3. Return `element_count_dict`

### Function definition

In [24]:
# This gets unique values and corresponding count in a column
def elements_count(my_data_local=data, col_index_local=8):
    element_count_dict = {}
    for row in my_data_local:
        element = row[col_index_local]
        if element not in element_count_dict:
            element_count_dict[element] = 1
        else:
            element_count_dict[element] += 1
    sorted_elements_count = dict(sorted(element_count_dict.items(), key=lambda x: x[1], reverse=True))      # This sorts the dictionary based on the count values.
    return sorted_elements_count

In [25]:
elements_count()

{'TV-G': 318,
 'TV-PG': 301,
 'G': 253,
 'PG': 236,
 'TV-Y7': 131,
 'TV-14': 79,
 'PG-13': 66,
 'TV-Y': 50,
 'TV-Y7-FV': 13,
 '': 3}

### Calling function
Print the Movie Ratings Count and TV Shows Ratings Count. 

You will have to call above function separately on `disney_movies`and `disney_shows`

In [32]:
elements_count(disney_movies, 8)

{'G': 253,
 'PG': 235,
 'TV-G': 233,
 'TV-PG': 181,
 'PG-13': 66,
 'TV-14': 37,
 'TV-Y7': 36,
 'TV-Y7-FV': 7,
 'TV-Y': 3,
 '': 1}

In [33]:
elements_count(disney_shows, 8)

{'TV-PG': 120,
 'TV-Y7': 95,
 'TV-G': 85,
 'TV-Y': 47,
 'TV-14': 42,
 'TV-Y7-FV': 6,
 '': 2,
 'PG': 1}

## Step 6: Get the list of categories for `listed_in` column ##

Get the list of unique values in `listed_in` column. 

It's now a one line code. 

You have to just re-use one of the earlier created functions. 

Could you identify which one?

In [70]:
list_of_categories = list_of_elements(data, -2)
list_of_categories

['Animation, Family',
 'Comedy',
 'Animation, Comedy, Family',
 'Musical',
 'Docuseries, Historical, Music',
 'Biographical, Documentary',
 'Action-Adventure, Superhero',
 'Docuseries, Reality, Survival',
 'Animals & Nature, Docuseries, Family',
 'Comedy, Family, Musical',
 'Documentary',
 'Comedy, Family, Music',
 'Documentary, Family',
 'Action-Adventure, Animals & Nature, Docuseries',
 'Animals & Nature',
 'Animation',
 'Animation, Kids',
 'Comedy, Coming of Age, Drama',
 'Comedy, Family, Fantasy',
 'Animation, Comedy, Drama',
 'Animation, Family, Fantasy',
 'Action-Adventure, Animation, Comedy',
 'Comedy, Family',
 'Action-Adventure, Comedy, Family',
 'Lifestyle',
 'Movies',
 'Action-Adventure, Science Fiction',
 'Action-Adventure, Fantasy, Superhero',
 'Coming of Age, Music',
 'Animation, Drama',
 'Concert Film, Music',
 'Animation, Comedy, Coming of Age',
 'Animation, Comedy',
 'Animation, Crime, Family',
 'Science Fiction',
 'Action-Adventure, Fantasy',
 'Comedy, Fantasy, Kids',
 'Action-Adventure, Comedy, Kids',
 'Drama, Family, Fantasy',
 'Action-Adventure, Science Fiction, Superhero',
 'Drama, Sports',
 'Comedy, Family, Sports',
 'Action-Adventure, Animation, Kids',
 'Animals & Nature, Reality',
 'Documentary, Historical',
 'Docuseries, Historical',
 'Anthology, Comedy, Coming of Age',
 'Reality',
 'Animals & Nature, Docuseries, Medical',
 'Animation, Coming of Age, Fantasy',
 'Family, Variety',
 'Docuseries',
 'Action-Adventure, Science Fiction, Spy/Espionage',
 'Animation, Buddy, Coming of Age',
 'Action-Adventure, Animation, Science Fiction',
 'Action-Adventure, Family, Fantasy',
 'Animation, Family, Parody',
 'Animation, Fantasy, Kids',
 'Family, Game Show / Competition',
 'Animals & Nature, Docuseries',
 'Kids, Music',
 'Animation, Science Fiction',
 'Animation, Anthology, Science Fiction',
 'Animals & Nature, Docuseries, Reality',
 'Coming of Age, Drama, Romance',
 'Action-Adventure, Animation, Anime',
 'Comedy, Romance, Romantic Comedy',
 'Animation, Fantasy, Musical',
 'Animals & Nature, Documentary',
 'Action-Adventure, Animation, Fantasy',
 'Comedy, Coming of Age, Family',
 'Action-Adventure, Family, Science Fiction',
 'Crime, Drama',
 'Comedy, Drama, Romance',
 'Family, Music, Variety',
 'Comedy, Drama, Thriller',
 'Action-Adventure, Family, Parody',
 'Animation, Kids, Police/Cop',
 'Comedy, Family, Science Fiction',
 'Action-Adventure, Animation, Anthology',
 'Comedy, Drama',
 'Animation, Anthology, Family',
 'Animation, Buddy, Comedy',
 'Animation, Buddy, Kids',
 'Talk Show',
 'Animals & Nature, Biographical, Documentary',
 'Docuseries, Family',
 'Action-Adventure, Buddy, Comedy',
 'Animals & Nature, Drama, Family',
 'Comedy, Coming of Age',
 'Animals & Nature, Coming of Age, Drama',
 'Animation, Fantasy',
 'Action-Adventure, Docuseries, Reality',
 'Animation, Kids, Sports',
 'Animation, Comedy, Fantasy',
 'Comedy, Sports',
 'Action-Adventure, Comedy, Coming of Age',
 'Action-Adventure, Reality, Survival',
 'Action-Adventure, Family',
 'Animation, Kids, Western',
 'Action-Adventure, Animation, Family',
 'Biographical, Coming of Age, Family',
 'Action-Adventure, Comedy, Spy/Espionage',
 'Action-Adventure, Fantasy, Science Fiction',
 'Action-Adventure, Docuseries, Lifestyle',
 'Action-Adventure, Drama, Historical',
 'Animation, Dance, Family',
 'Drama',
 'Coming of Age, Drama',
 'Coming of Age, Fantasy',
 'Fantasy',
 'Animation, Superhero',
 'Animals & Nature, Animation, Kids',
 'Action-Adventure, Family, Game Show / Competition',
 'Biographical, Drama',
 'Animation, Comedy, Parody',
 'Anthology, Science Fiction',
 'Fantasy, Musical',
 'Biographical, Documentary, Music',
 'Musical, Romance, Western',
 'Action-Adventure, Comedy, Crime',
 'Comedy, Coming of Age, Kids',
 'Comedy, Drama, Sports',
 'Animals & Nature, Anthology',
 'Action-Adventure, Coming of Age, Family',
 'Action-Adventure, Animals & Nature, Drama',
 'Family, Kids',
 'Action-Adventure, Animation',
 'Comedy, Coming of Age, Crime',
 'Biographical, Coming of Age, Drama',
 'Action-Adventure, Biographical, Drama',
 'Animation, Kids, Musical',
 'Action-Adventure, Fantasy, Survival',
 'Series',
 'Animals & Nature, Comedy',
 'Comedy, Reality',
 'Action-Adventure, Buddy, Science Fiction',
 'Animation, Kids, Medical',
 'Anthology, Docuseries',
 'Comedy, Family, Kids',
 'Buddy, Comedy, Docuseries',
 'Game Show / Competition, Sports, Variety',
 'Comedy, Docuseries, Family',
 'Comedy, Fantasy',
 'Animation, Comedy, Kids',
 'Family, Fantasy, Mystery',
 'Variety',
 'Comedy, Family, Variety',
 'Anthology, Documentary',
 'Family, Fantasy, Musical',
 'Drama, Fantasy, Mystery',
 'Family, Game Show / Competition, Reality',
 'Action-Adventure, Docuseries, Fantasy',
 'Action-Adventure, Docuseries, Family',
 'Action-Adventure, Fantasy, Musical',
 'Fantasy, Variety',
 'Drama, Music, Romance',
 'Biographical, Drama, Sports',
 'Action-Adventure, Coming of Age, Drama',
 'Action-Adventure, Fantasy, Soap Opera / Melodrama',
 'Animals & Nature, Kids, Music',
 'Documentary, Music',
 'Coming of Age, Drama, Music',
 'Action-Adventure, Animation, Buddy',
 'Comedy, Variety',
 'Docuseries, Reality',
 'Biographical, Drama, Music',
 'Animals & Nature, Documentary, Survival',
 'Drama, Historical',
 'Animals & Nature, Documentary, Family',
 'Drama, Music',
 'Biographical, Drama, Family',
 'Anthology, Docuseries, Family',
 'Drama, Romance',
 'Docuseries, Historical, Reality',
 'Documentary, Sports',
 'Comedy, Drama, Family',
 'Comedy, Parody, Science Fiction',
 'Animals & Nature, Kids, Variety',
 'Animation, Kids, Music',
 'Coming of Age, Fantasy, Musical',
 'Action-Adventure, Comedy, Science Fiction',
 'Animals & Nature, Docuseries, Kids',
 'Docuseries, Kids',
 'Animals & Nature, Family, Reality',
 'Dance, Music, Musical',
 'Comedy, Family, Lifestyle',
 'Buddy, Docuseries',
 'Documentary, Family, Historical',
 'Coming of Age, Drama, Family',
 'Historical, Musical',
 'Action-Adventure, Crime, Science Fiction',
 'Biographical, Historical, Musical',
 'Comedy, Coming of Age, Music',
 'Animation, Documentary, Family',
 'Action-Adventure, Animation, Coming of Age',
 'Comedy, Kids',
 'Action-Adventure, Crime, Fantasy',
 'Comedy, Coming of Age, Medical',
 'Drama, Family, Historical',
 'Animals & Nature, Comedy, Family',
 'Coming of Age, Fantasy, Mystery',
 'Crime, Drama, Mystery',
 'Animation, Comedy, Crime',
 'Comedy, Musical, Romance',
 'Action-Adventure, Docuseries, Historical',
 'Action-Adventure, Animals & Nature, Family',
 'Animation, Family, Sports',
 'Action-Adventure, Mystery, Thriller',
 'Docuseries, Family, Game Show / Competition',
 'Concert Film, Music, Musical',
 'Animals & Nature, Family',
 'Comedy, Coming of Age, Romance',
 'Animation, Family, Historical',
 'Coming of Age, Drama, Musical',
 'Action-Adventure, Disaster, Drama',
 'Action-Adventure, Animation, Musical',
 'Docuseries, Family, Lifestyle',
 'Comedy, Fantasy, Romance',
 'Comedy, Coming of Age, Fantasy',
 'Buddy, Comedy, Drama',
 'Animation, Family, Romance',
 'Coming of Age, Drama, Science Fiction',
 'Biographical, Comedy, Family',
 'Animals & Nature, Family, Sports',
 'Action-Adventure, Animation, Superhero',
 'Docuseries, Science Fiction',
 'Coming of Age, Documentary, Drama',
 'Action-Adventure, Comedy, Fantasy',
 'Action-Adventure, Documentary, Historical',
 'Buddy, Docuseries, Lifestyle',
 'Concert Film, Family, Fantasy',
 'Animation, Comedy, Dance',
 'Action-Adventure, Animals & Nature, Documentary',
 'Coming of Age, Drama, Sports',
 'Drama, Family',
 'Drama, Family, Musical',
 'Animation, Drama, Family',
 'Animation, Drama, Kids',
 'Animation, Anthology, Fantasy',
 'Buddy, Comedy, Coming of Age',
 'Animation, Family, Kids',
 'Animation, Coming of Age, Family',
 'Buddy, Coming of Age, Drama',
 'Coming of Age, Docuseries, Family',
 'Coming of Age, Music, Musical',
 'Comedy, Coming of Age, Science Fiction',
 'Drama, Family, Mystery',
 'Animation, Comedy, Disaster',
 'Sports',
 'Comedy, Family, Game Show / Competition',
 'Comedy, Mystery',
 'Family, Fantasy, Romance',
 'Action-Adventure, Family, Historical',
 'Documentary, Family, Reality',
 'Buddy, Comedy, Family',
 'Anthology, Family, Lifestyle',
 'Animation, Anthology, Comedy',
 'Animation, Kids, Parody',
 'Fantasy, Musical, Thriller',
 'Family, Lifestyle, Reality',
 'Documentary, Family, Variety',
 'Biographical, Sports',
 'Docuseries, Family, Medical',
 'Comedy, Coming of Age, Sports',
 'Action-Adventure, Crime, Family',
 'Music, Reality',
 'Drama, Parody, Science Fiction',
 'Action-Adventure, Documentary, Sports',
 'Drama, Mystery',
 'Coming of Age, Sports',
 'Coming of Age, Dance, Drama',
 'Animation, Family, Music',
 'Animals & Nature, Docuseries, Survival',
 'Concert Film, Documentary, Music',
 'Comedy, Family, Romantic Comedy',
 'Coming of Age, Musical, Romance',
 'Coming of Age, Musical',
 'Coming of Age, Family, Musical',
 'Animals & Nature, Comedy, Coming of Age',
 'Biographical, Family, Sports',
 'Comedy, Science Fiction',
 'Animals & Nature, Documentary, Medical',
 'Coming of Age, Dance, Sports',
 'Action-Adventure, Coming of Age',
 'Animation, Family, Musical',
 'Action-Adventure, Documentary, Superhero',
 'Buddy, Comedy',
 'Drama, Historical, Sports',
 'Action-Adventure, Documentary',
 'Anthology, Comedy, Kids',
 'Drama, Fantasy',
 'Action-Adventure, Animals & Nature, Comedy',
 'Kids',
 'Animals & Nature, Animation, Family',
 'Anthology, Comedy, Family',
 'Animals & Nature, Coming of Age, Family',
 'Family, Fantasy',
 'Buddy, Family, Sports',
 'Biographical, Drama, Historical',
 'Animals & Nature, Biographical, Drama',
 'Comedy, Crime, Family',
 'Animation, Buddy, Family',
 'Fantasy, Kids, Mystery',
 'Action-Adventure, Family, Survival',
 'Action-Adventure, Western',
 'Buddy, Coming of Age, Family',
 'Comedy, Family, Western',
 'Action-Adventure, Science Fiction, Thriller',
 'Animation, Anthology, Kids',
 'Action-Adventure, Family, Western',
 'Crime, Drama, Family',
 'Comedy, Crime, Science Fiction',
 'Comedy, Music',
 'Action-Adventure, Comedy',
 'Animation, Drama, Fantasy',
 'Comedy, Family, Romance',
 'Action-Adventure, Drama, Family',
 'Biographical, Family, Historical',
 'Buddy, Comedy, Romance',
 'Action-Adventure, Family, Mystery',
 'Coming of Age, Drama, Fantasy',
 'Comedy, Crime, Fantasy',
 'Action-Adventure, Coming of Age, Fantasy',
 'Animals & Nature, Docuseries, Travel',
 'Coming of Age, Musical, Science Fiction',
 'Animation, Family, Mystery',
 'Biographical, Comedy, Drama',
 'Action-Adventure, Animals & Nature, Animation']

## Step 7: Get the unique list of above categories and then the count in each category ##

### Function description and output overview

From the output of `step 6`, it is clear that there are multiple genres listed in single row.

So, a movie might be listed in animation as well as family.

The function `elements_count` should return:
  - The key value pair where
    - key is the unique element
    - value is the count of movies or TV shows or both with that unique element

The function will take the following as parameters:
1. `my_data_local`
2. `col_index_local`
3. `sep_local`which separates each items in one single cell. So if it is listed in 'animation, family', it should be considered in the count for both the genres

For example, I want to get unique values and corresponding count in `listed_in`column in `disney_movies`.
I will call this function on `disney_movies` and the output will be:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">

{'Family': 533, 'Comedy': 407, 'Animation': 381, 'Action-Adventure': 314, 'Documentary': 174, 'Fantasy': 158, 'Coming of Age': 153, 'Animals & Nature': 130, 'Drama': 121, 'Science Fiction': 76, 'Biographical': 41, 'Musical': 40, 'Kids': 39, 'Music': 38, 'Sports': 38, 'Historical': 38, 'Buddy': 24, 'Romance': 19, 'Superhero': 16, 'Crime': 16, 'Mystery': 8, 'Concert Film': 7, 'Variety': 7, 'Parody': 7, 'Anthology': 7, 'Dance': 6, 'Thriller': 5, 'Western': 5, 'Reality': 4, 'Lifestyle': 3, 'Movies': 3, 'Survival': 3, 'Spy/Espionage': 2, 'Romantic Comedy': 2, 'Medical': 2, 'Disaster': 2}

### Pseudocode
<span style="color:#fc5a37"> UPDATE </span> the Pseudocode below for the requirement above.

def elements_count(Give the parameters along with default values):

  1. Create an empty dictionary and assign it to `element_count_dict`

  2. Write a for loop to iterate over each row element in `my_data_local`
      - If element in the row at `col_index_local`is not in the key of `element_count_dict`, add it and initialize the value to 1.
      - If element in the row at `col_index_local`is in the `element_count_dict`, increment the value by 1.

  3. Sort the dictionary based on the corresponding values in descending order. 
      
  3. Return `element_count_dict`

### Pseudocode
UPDATED Pseudocode.

def category_count(Give the parameters along with default values):

  1. Create an empty dictionary and assign it to `category_dict`

  2. Separate each item in one single cell by `sep_local`.

  3. Write a for loop to iterate over each element in 'separated_cells'
      - If element in `separated cells` is not in the key of `listed_in_dict`, add it and initialize the value to 1.
      - If element in `separated cells` is in the `listed_in_dict`, increment the value by 1.

  4. Sort the dictionary based on the corresponding values in descending order. 
      
  5. Return the sorted `listed_in_dict`

### Function definition
Update the function definition below. Include DocString that would explain what this function does.

In [81]:
def category_count(my_data_local=data, col_index_local=-2, sep_local=", "):
    category_dict = {}
    for row in my_data_local:
        row_splitted = row[col_index_local].split(sep_local)            # split the list of strings into separate strings
        for i in row_splitted:                                          # split the separated strings into the categories
            if i not in category_dict.keys():
                category_dict[i] = 1                                    # create a new entry in dictionary if it's not yet there
            else:
                category_dict[i] += 1                                   # increase the counting of the corresponding entry in the dictionary
    sorted_category_count = dict(sorted(category_dict.items(), key=lambda x: x[1], reverse=True))
    return sorted_category_count

In [82]:
category_count()

{'Family': 632,
 'Animation': 542,
 'Comedy': 526,
 'Action-Adventure': 452,
 'Animals & Nature': 208,
 'Coming of Age': 205,
 'Fantasy': 192,
 'Documentary': 174,
 'Kids': 141,
 'Drama': 134,
 'Docuseries': 122,
 'Science Fiction': 91,
 'Historical': 53,
 'Music': 48,
 'Musical': 44,
 'Sports': 43,
 'Biographical': 41,
 'Buddy': 40,
 'Anthology': 28,
 'Reality': 26,
 'Romance': 20,
 'Superhero': 19,
 'Crime': 16,
 'Variety': 12,
 'Mystery': 12,
 'Game Show / Competition': 10,
 'Survival': 9,
 'Parody': 9,
 'Lifestyle': 8,
 'Concert Film': 7,
 'Western': 7,
 'Medical': 6,
 'Dance': 6,
 'Thriller': 5,
 'Anime': 4,
 'Movies': 3,
 'Spy/Espionage': 3,
 'Series': 3,
 'Romantic Comedy': 2,
 'Soap Opera / Melodrama': 2,
 'Disaster': 2,
 'Police/Cop': 1,
 'Talk Show': 1,
 'Travel': 1}

### Calling Function
Use above created function to print the unique list of Genres which is in the column `listed-in`.

It should print this separately for `Movies` and `TV Shows`.

In [83]:
# Genres of Movies
category_count(disney_movies)

{'Family': 533,
 'Comedy': 407,
 'Animation': 381,
 'Action-Adventure': 314,
 'Documentary': 174,
 'Fantasy': 158,
 'Coming of Age': 153,
 'Animals & Nature': 130,
 'Drama': 121,
 'Science Fiction': 76,
 'Biographical': 41,
 'Musical': 40,
 'Kids': 39,
 'Music': 38,
 'Sports': 38,
 'Historical': 38,
 'Buddy': 24,
 'Romance': 19,
 'Superhero': 16,
 'Crime': 16,
 'Mystery': 8,
 'Concert Film': 7,
 'Variety': 7,
 'Parody': 7,
 'Anthology': 7,
 'Dance': 6,
 'Thriller': 5,
 'Western': 5,
 'Reality': 4,
 'Lifestyle': 3,
 'Movies': 3,
 'Survival': 3,
 'Spy/Espionage': 2,
 'Romantic Comedy': 2,
 'Medical': 2,
 'Disaster': 2}

In [84]:
# Genres of TV Shows
category_count(disney_shows)

{'Animation': 161,
 'Action-Adventure': 138,
 'Docuseries': 122,
 'Comedy': 119,
 'Kids': 102,
 'Family': 99,
 'Animals & Nature': 78,
 'Coming of Age': 52,
 'Fantasy': 34,
 'Reality': 22,
 'Anthology': 21,
 'Buddy': 16,
 'Historical': 15,
 'Science Fiction': 15,
 'Drama': 13,
 'Music': 10,
 'Game Show / Competition': 10,
 'Survival': 6,
 'Sports': 5,
 'Lifestyle': 5,
 'Variety': 5,
 'Medical': 4,
 'Anime': 4,
 'Musical': 4,
 'Mystery': 4,
 'Superhero': 3,
 'Series': 3,
 'Western': 2,
 'Soap Opera / Melodrama': 2,
 'Parody': 2,
 'Police/Cop': 1,
 'Talk Show': 1,
 'Romance': 1,
 'Spy/Espionage': 1,
 'Travel': 1}

Fill the blanks below manually based on the output in the above two cells.

The maximum movies are listed in `Family` followed by `Comedy`.

The maximum Shows are listed in `Animation` followed by `Action-Adventure`.

## Step 8: What is the average duration of movies and shows ##

### Function description and output overview

You need to write two functions for this step:

1. The duration of movies is in minutes and shows in seasons.

    Define function `duration_conversion`that will remove the suffix <span style="color:#fc5a37"> minutes </span> and <span style="color:#fc5a37"> seasons </span> and convert them to numeric.

    This should take below parameters:

    a. my_data_local

    b. col_index_local

2. Create a function `average` that will create the average of all the values in a column in given dataset.

    This should take below parameters:

    a. my_data_local
    
    b. col_index_local

### Pseudocode

1. Write pseudocode for function `duration_conversion`that will delete any suffixes after the space.

2. Write pseudcode for function `average`

### Function definition
Update the function definition for `duration_conversion`and `average`.

In [ ]:
def duration_conversion(...):

    return data_l

In [ ]:
def average(...):

### Calling functions
Use the newly created functions to calculate the average duration for movies. 

You will have to first call the function `duration_conversion` on disney_movies to convert the duration to numeric. 

Also, remember to store this in another data list `disney_movies_mod`. 

Now call your average function using this new data list to calculate the average duration of movies. 

The expected output is:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">
Average Duration of Movies in minutes:  71.9106463878327

In [ ]:
print("Average Duration of Movies in minutes: ", ....)

 Now Calculate the average duration for TV Shows. 
 
 The Expected output is:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">
 The average duration of TV shows is 2 seasons.

## (OPTIONAL) Step 9: Can you make your function more robust? ##

### Function description and output overview
Make a function `filter_data` to filter the data based on criteria in the input.

Use this function `filter_data` in `elements_count` to generate statistics for filtered data. 

For example, if your content manager asks you to provide the count of movies based on genre only in Germany. 

You start working on the function and after some time he wants the data only for the year 2004. 

With this ever changing filtering criteria, you decide to make your function handle this dynamic changing filtering list. 

You now accept the filtering criteria in a dictionary. Where keys are the column index and value are the respective filter values.

If I want to print the count of movies based on genre and without any filtering criteria. 

We need to just call the function like this:

print(items_count(disney_movies, 10, ',', {}))

The output should look like:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">

{'Family': 533, 'Comedy': 407, 'Animation': 381, 'Action-Adventure': 314, 'Documentary': 174, 'Fantasy': 158, 'Coming of Age': 153, 'Animals & Nature': 130, 'Drama': 121, 'Science Fiction': 76, 'Biographical': 41, 'Musical': 40, 'Kids': 39, 'Music': 38, 'Sports': 38, 'Historical': 38, 'Buddy': 24, 'Romance': 19, 'Superhero': 16, 'Crime': 16, 'Mystery': 8, 'Concert Film': 7, 'Variety': 7, 'Parody': 7, 'Anthology': 7, 'Dance': 6, 'Thriller': 5, 'Western': 5, 'Reality': 4, 'Lifestyle': 3, 'Movies': 3, 'Survival': 3, 'Spy/Espionage': 2, 'Romantic Comedy': 2, 'Medical': 2, 'Disaster': 2}

In [ ]:
def filter_data(row_local, filter_local):
    ''' 
    This function will take one row of the data at a time and also the filter criteria in the form of a dictionary where key is the column location and the value is the filter value expected.
    '''
    include_row_ll = True # By default, the row qualifies for the filtering criteria
    # Write a for loop that will loop over all the key value pairs of the filters and check the values in the row.
    # Inside for loop, write a if-else that will check if there are "," in that field. If yes, then create a list out of it splitting it and then checking each value for the filter values. Else, directly check it for the filter values.

In [ ]:
def elements_count(data_local, loc_local, sep_local, filters_local):
    #use `filter_data` function within this function

### Calling function

Print the count of movies based on genre and without any filtering criteria.

In [ ]:
print(elements_count(

Now, print the count of movies based on genre and only for Germany. So you will have to give the filter criteria as {5: 'Germany'}

In [ ]:
print(elements_count(

Now, print the count of movies based on genre and only for Germany and that too only for year 2004. Now the filter to be used is {5: 'Germany', 7: '2004'}

The expected output is:

<style>
    .code_block {
        background-color: #ff795c;
        color: white;
    }
</style>

<div class="code_block">
{'Comedy': 2, 'Action-Adventure': 1, 'Family': 1, 'Coming of Age': 1}

In [ ]:
print(elements_count(

Now, use above functions to find out:
1. Which director has directed maximum number of movies?
2. Analyze the growth of movies and TV shows released over past years.
3. How many movies and TV Shows have been released in Germany?

## (OPTIONAL) Step 10: Now let's create an interactive tool for the content manage ##

For this, create a new folder `nalysis_tool`. Make different functions as modules. For example ` explore_data.py`. In the main file `analysis.py`, import all the modules. Code your interactive tool after ` if __name__ == "__main__": ` The tool should be interactive in the following way:

1. Ask if the combined data has to be analyzed or movies or TV shows has to be analyzed.
2. Create options based on your created functions. Ask interactively to give filter options or the column options on which it wants the unique list. Be innovative.
3. Make it repetitive until user wants to exist. 

Once you are done, execute this code using terminal by giving `Python analysis.py`

Your tool might look like this:
````
To analyze combined dataset type c 
To analyze only movies type m 
To analyze only TV shows type t  
To quit q 
Enter the option!: 
````
If you give option 'm', it will analyze only movies. Next it will ask:
```
To explore the dataset type e 
To list the unique values in a column type u 
To count number of movies/TV shows for each unique values type c 
To find the average value in a column type a 
Enter the option!: 
````
If you give option c, it will give the count of unique values in asked column based on given filter criteria.
```
Which column:
0: show_id
1: type
2: title
3: director
4: cast
5: country
6: date_added
7: release_year
8: rating
9: duration
10: listed_in
11: description
Enter the number as per the list above: 
````
If you give 10 and then in separator as ',', it will ask you for filter criteria
````
Enter the number as per the list above: 10
Enter the separator in case of multiple values: ,
Are there filter criteria yes/no: 
````
If you want to give filter criteria, say 'yes' and it will ask for column and value on which to filter
````
Which column:
0: show_id
1: type
2: title
3: director
4: cast
5: country
6: date_added
7: release_year
8: rating
9: duration
10: listed_in
11: description
Enter column to filter as per above list: 
````
Say, you want to filter on country.
````
['', 'United States', 'Australia', 'Canada', 'United Kingdom', 'Ireland', 'Denmark', 'Spain', 'Poland', 'Hungary', 'Germany', 'Singapore', 'Thailand', 'Brazil', 'Belgium', 'Austria', 'South Africa', 'Japan', 'France', 'Hong Kong', 'United Arab Emirates', 'Mexico', 'Switzerland', 'India', 'China', 'Tanzania', 'Panama', 'Angola', 'Botswana', 'Namibia', 'South Korea', 'Russia', 'Malaysia', 'Kazakhstan', 'Taiwan', 'Syria', 'Iran', 'Egypt', 'Pakistan', 'New Zealand', 'Norway', 'Sweden', 'Slovenia', 'Czech Republic']
What value you want to filter: 
````
Now give the value of country. Say, Germany.
````
Are there more filter criteria yes/no: 
````
Now, let's say you want to filter on release_year
````
Which column:
0: show_id
1: type
2: title
3: director
4: cast
5: country
6: date_added
7: release_year
8: rating
9: duration
10: listed_in
11: description
Enter column to filter as per above list: 
````
After giving 7:
````
['2016', '1988', '2011', '2021', '2008', '2020', '2007', '2014', '2015', '2013', '2012', '2006', '2010', '1996', '2009', '1993', '1994', '2019', '2017', '2005', '2000', '2004', '1987', '1967', '1991', '1956', '1995', '1984', '1985', '1974', '1959', '2003', '1997', '2018', '2001', '1990', '1992', '1998', '1952', '1955', '1977', '1957', '1999', '1989', '1948', '1964', '1969', '1942', '1950', '1951', '1953', '1949', '1940', '1946', '1954', '1936', '1944', '1935', '1939', '1975', '1978', '1971', '1961', '2002', '1962', '1981', '1932', '1938', '1941', '1986', '1947', '1937', '1966', '1943', '1934', '1976', '1980', '1960', '1983', '1973', '1972', '1928', '1965', '1979', '1970', '1963', '1933', '1945', '1982', '1968']
What value you want to filter: 
````
Let's get the data for year 2004.
```
Are there more filter criteria yes/no: 
````
That's all. No more filter criteria. So it should return:
````
{'Comedy': 2, 'Action-Adventure': 1, 'Family': 1, 'Coming of Age': 1}

To analyze combined dataset type c 
To analyze only movies type m 
To analyze only TV shows type t  
To quit q 
Enter the option!:
````